@use "./variables" as *;

.favicon-container{
    width:100%;
    @include flexCenter;
    h2{
        text-align:center;
        margin:20px auto 30px auto;
        text-decoration: underline;
    }
    form{
        @include flexCenter;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding:20px;
        button{
            margin:20px auto 10px auto;
            background-color: $primary-font-color;
            color:$primary-color;
            font-size:0.8rem;
            padding:6px 17px;
        }
    }
}