@use "./variables" as *;

.heic-container{
    width:100%;
    div{
        @include flexCenter;
        margin:20px auto;
    }
}

.dropzone{
    @include customContainer($percentage: 60%);
    height:400px;
    background:#f4f4f4;
    border:dashed 2px rgb(77, 190, 243);
    border-radius:20px;
}

#heicBtn{
    width:120px;
    background: #98c4e7;
    padding:10px 15px;
    border:1px solid #5fa3db;
    border-radius:5px;
    &:hover{
        background:#7ab7e9;
    }
}

#displayArea{
    text-align:center;
}