@use "./variables" as *;

.pic-size-changer-container{
    @include flexCenter;
    @include customContainer;
    div{
        margin:20px 0;
        text-align: center;
    }
    .dropzone{
        @include flexCenter;
    }
    input{
        width:200px;
        padding:10px;
        border-radius:10px;
        border:1px solid black;
    }
}