.policy-maker-container{
    width:90%;
    max-width:700px;
    margin:auto;
    h1{
        font-size:28px;
        margin-bottom:50px;
    }
    form{
        width:80%;
        margin:auto;
        input{
            margin-bottom:20px;
        }
    }
    h2{
        margin-bottom:20px;
    }
    .note{
        font-size:12px;
        font-weight:500;
    }
    
}