@use "./variables" as *;
$qr-main-color:#050828;
$qr-form-height:240px;

.top-qr-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .qr-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height:$qr-form-height;
        width:90%;
        max-width:450px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top:20px;
        h2{
            margin:20px auto;
            text-align:center;
        }
        input{
            width:90%;
            margin:auto;
        }
        button{
            color:$qr-main-color;
            padding:7px 16px;
            border-radius:100vh;
            border:1px solid $qr-main-color;
            border-bottom: 5px solid $qr-main-color;
            background-color: #f4f4f4;
        }

        button:hover {
            margin-top: 3px;
            border-bottom: 2px solid $qr-main-color;
        }

        button:focus{
            background-color: #bdbaba;
        }
    }
    #qrShowPng{
        margin:30px auto;
    }
}