@use "./variables" as *;

.yearConverter-container{
    @include customContainer;
    @include flexCenter;

    .yearConverter-error{
        margin-bottom:15px;
        color:red;
        text-align:center;
    }

    h2{
        text-align:center;
        text-decoration: underline;
    }
    form{
        @include flexCenter;
        min-height:180px;
        padding:20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        
        .input-group {
            .input-group-prepend {
                .input-group-text {
                    padding: 0.5rem 1rem;
                    background-color: #f8f9fa;
                    border-right: none;
                    
                    i {
                        font-size: 1.2rem;
                        color: #6c757d;
                    }
                }
            }
            
            .form-control {
                border-left: none;
                border-right: none;
                padding-left: 0.5rem;
            }
            
            .input-group-append {
                .btn-primary {
                    margin-left: 5px; // ボタンと入力フィールドの間隔を追加
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
        
        input{
            width:80%;
        }
        button{
            width:200px;
            background-color: $primary-font-color;
            color:$primary-color;
            margin:auto;
            border-radius:10px;
            padding:7px 15px;
        }
    }
    #showResultYearConverter{
        display:none;
        margin:30px auto;
        width:250px;
        height:80px;
        padding:20px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        border-radius: 10px;
        justify-self: center;
        align-items: center;
        div{
            text-align:center;
            width:100%;
        }
    }
}
.how-to{
    width:300px;
    text-align:right;
    padding:10px;
    .modalBtn-howto{
        background:none;
        border:none;
        font-size:16px;
        &:hover{
            text-decoration:underline;
        }
    }
}
.showResultModal-container{
    .resultFont{
        font-weight:700;
        text-align:center;
        font-size:1.3rem;
    }
}